.current-time {
  height: 64px;
  font-size: 52px;
  font-weight: 500;
  color: #fff;
  text-shadow: 2px 20px 28px rgba(0,0,0,.2);
  margin-top: 62px;
  text-align: center;
}
.loading {
  display: flex;
  height: 64px;
  margin-top: 62px;
  justify-content: center;
  align-items: center;
}