.meriter {
  border-radius: 18px;
  background: linear-gradient(215.69deg, #0C0C0C 8.42%, #292929 93.64%);
  cursor: pointer;
  .count,
  .interactive {
    position: relative;
    padding-top: 16px;
  }
  .count-content {
    padding: 1px 10px;
    font-size: 14px;
    border-radius: 10px;
    background-color: rgb(255, 240, 224);
    color: rgb(75, 41, 3);
  }
  .interactive {
    margin: 10px 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .interactive-content {
    display: none;
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    color: #ff8e0e;
  }
  .fish {
    width: 100px;
    margin: 0 auto 12px;
    transition: all .3s;
    pointer-events: all;
    &:active {
      width: 80px;
    }
  }
}