// Automatic generated 
.fixed-cart {
  display: flex;
  position: fixed;
  z-index: 100;
  right: 32px;
  bottom: 102px;
  flex-direction: column;
  cursor: pointer;
  .cart-content {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    font-size: 28px;
    text-align: center;
    color: var(--adm-color-primary);
    background-color: #fff;
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
    transition: color .3s;
  }
}